  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>movie</mat-icon>
    </button>
    <span>Movie</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-button *ngIf="me; else auBtns">Hello, {{me.hoTen}}</button>
      <button mat-button
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/"
        >Home</button>
      >
      <ng-template #auBtns>
        <button mat-button routerLinkActive="active" routerLink="/signin">Sign In</button>
        <button mat-button routerLinkActive="active" routerLink="/signup">Sign Up</button>
      </ng-template>
      <button mat-button routerLinkActive="active" routerLink="/movie/new">Create new movie</button>
    </div>
  
  </mat-toolbar>